*{
    list-style: none;
}

.date li {
    float:left;
    padding-left: 10px;
}

.board {
    width: 300px;
    background-color: aqua;
    padding: 30px 50px 30px;
    margin: 30px;
}

.board h3 {
    text-align: left;
    padding-bottom: 60%;
}

.calendar {
    height: 300px;
    padding: 30px;
}

.spanChoosed {
    color: rgb(204, 112, 112);
    te
}

.spanNotChoosed {
    color: rgb(9, 200, 136);
}